body {
  background-color: lightgray;
  color: black;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: #f5f5f5; /* Light gray background color */
  padding: 20px;
  text-align: center;
  color: black;
}

nav {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: black;
}

nav a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#dynamicContent {
  padding: 20px;
  text-align: center;
}

#content1,
#content2,
#content3 {
  background-color: white;
  color: black;
  padding: 20px;
  display: none;
}

#Dropdown {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px;
  font-size: 16px;
}

button {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #d3d3d3; /* Darker gray on hover */
}

table th, table td {
  border-color: #000000; /* Replace with your desired border color */
}

.table-container {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
  display: inline-flex;
  flex-direction: column;
}

#temperature-table {
  width: 100%;
  table-layout: fixed;
}

#temperature-table thead th {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 1;
}

.section {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-bottom: 20px;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .section-description {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 20px;
        text-align: left;
    }

    ul li {
        margin-bottom: 10px;
    }