body {
    background-color: black;
    color: #34eb46; /* Neon green text color */
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 0;
}

header, nav {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: #34eb46; /* Neon green text color */
}

nav a {
    margin: 0 10px;
    color: #34eb46;
    text-decoration: none;
    cursor: pointer;
}

#dynamicContent {
    padding: 20px;
    text-align: center;
}

#content1, #content2, #content3 {
    background-color: black;
    color: #34eb46; /* Neon green text color */
    padding: 20px;
    display: none;
}

#preview {
    color: #34eb46; /* Neon green text color */
}
